.cart-container {
  position: relative;
  text-align: right;
}

.cart__subtitle-container {
  max-width: 700px;
  margin: 0 auto;
}

.cart__subtitle {
  display: inline-block;
}

.cart__image-inner {
  margin: 80px 0 110px;
}
