.home-page {
  margin: 50px 0 135px;
}

.main-page-img {
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
}

.main-page-img2 {
  text-align: right;
}

.image2-container {
  position: relative;
  text-align: right;
}
